header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
}
.menu ul, .iconos ul {
    list-style-type: none;
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: #009d95;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.iconos ul {
    display: flex;
    align-items: center;
   
}

.iconos ul li {
    margin-left: 20px; 
}

.iconos ul li img {
    width: 30px; 
    height: 30px; 
  
    
}

.crema {
    max-width: 100%; 
}

.crema img {
    width: 100%; 
    height: auto;
    display: block; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    filter: brightness(0.7);
}

.texto{
    position: absolute;
    top: 30%;
    left: 5%; 
    padding: 20px;
    color: white; 
}

.SPF{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
}


@media (max-width: 480px) {
    li {
        color:brown;
    }
}

@media (max-width: 768px) {
    .enlaces ul {
        display:none;
    }
}

@media (min-width: 768px) {
    select {
        display:none;
    }
}
